.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 4;
}
.example-spacer {
  flex: 1 1 auto;
}

.item span{
  margin-left: 10px;
}
.item{
  justify-content: center;
  align-content: center;
  display: flex;
  align-items: center;
}

.content{
  margin: 20px;
}

.username{
  font-size: 1rem;
}


.icon:hover{
  cursor: pointer;
}
