<app-title-container>Nuevo elemento</app-title-container>
<app-container-layout>
  <form class="form" [formGroup]="form">
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="code">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Material</mat-label>
      <mat-select formControlName="material">
        <mat-option *ngFor ="let material of materials" [value]="material">
          {{material}}
        </mat-option>
      </mat-select>
    </mat-form-field >
    <mat-form-field>
      <mat-label>Measure</mat-label>
      <mat-select>
        <mat-option *ngFor="let measure of measures" [value]="measure">
          {{measure}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <mat-select>
      <mat-option *ngFor="let location of locations" [value]="location">
        {{ location }}
      </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Agregar</button>
    <button mat-raised-button color="warn">Limpiar</button>
  </form>
</app-container-layout>
