.wrapper{
    display: flex;
    flex-direction: column;
}
.wrapper-title{
    text-align: center;
    color: #757575
}
.form{
    display: flex;
    flex-direction: row;
}
.form mat-form-field{
    margin-right: 2.5rem;
}

.full-width-input{
    // min-width: 00px;
    width: 100%;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.controls button{
    margin-right: 1rem;
}
.controls button:last-child{
    margin-right: 0;
}
.controls button{
    width: 10rem;
    height: 2.5rem;
}

.delete-icon:hover{
    cursor: pointer;
}

.mat-column-actions{
  width: 32px;
  text-align: center;
}

