<div class="body">
  <div class="login-wrapper">
    <div class="login-left-container">
    </div>
    <div class="login-container">
      <div class="login-container-title">
        <h1 class="login-title">Bienvenido</h1>
      </div>
      <div class="login-form-wrapper">
        <form name="loginForm" [formGroup]="formLogin">
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input formControlName="username" matInput autocomplete="off" />
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="off">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" type="button">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <button class="btn-full-width" mat-raised-button color="primary" type="submit" (click)="Login()" [disabled]="formLogin.invalid">
              Ingresar
              <mat-icon matSuffix>login</mat-icon>
            </button>
          </div>
        </form>
      </div>
      <div class="forgot-password-container">
        <a href="/#">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
</div>

</div>
