.body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #024059;
  background-image: url("./test2.svg");
  background-size: cover;

}
.login-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 650px;
  width: 1200px;
  background-color: #ffffff;
  border-radius: 5px;

}


.login-left-container{
  width: 800px;
  height: 100%;
  background: url("./warehouse.jpg");
  background-size: cover;
  border-radius:5px;
}
.login-left-container img{
  width: 50%;
  height: 50%;

}
.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
}
.login-container-title{
  display: flexbox;
  margin-bottom: 30px;
}
.login-form-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

//Do a media query for small screen
@media only screen and (max-width: 1400px) {
  .login-left-container{

  }
}

.btn-full-width{
  width: 100%;
}


.forgot-password-container{
  margin-top: 36px;
  width: 100%;
  text-align: center;
}

.forgot-password-container a{
  color: #1E88E5;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.login-title{
  font-size: 2.5rem;
  font-weight: bold;
  color: #af4256;
  margin-bottom: 20px;
}
