<div>
  <h1 mat-dialog-title>New item</h1>
  <div mat-dialog-content>
    <form [formGroup]="requi_item_form" class="form">
      <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput formControlName="code">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unit</mat-label>
        <input matInput type="number" formControlName="unit">
      </mat-form-field>
    </form>
    <table style="width: 100%; text-align: right;">
      <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Measure</th>
            <th>Material</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSource; let i = index">
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.measure}}</td>
          <td>{{item.material}}</td>
        </tr>
      </tbody>
  </table>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="addNewItem()">Save</button>
      <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
