<div>
  <h1 mat-dialog-title>New item</h1>
  <div mat-dialog-content>
    <form [formGroup]="requi_item_form" class="form">
      <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" (ngModelChange)="searchItem()">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" (ngModelChange)="searchItem()">
      </mat-form-field>
    </form>
    <div class="table-container">
      <table style="width: 100%;text-align: center;">
        <thead>
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Measure</th>
              <th>Material</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor:pointer " *ngFor="let item of filteredSource; let i = index" (click) = "getItemSelected($event)">
            <td class="item-code">{{item.code}}</td>
            <td class="item-name">{{item.name}}</td>
            <td class="item-description">{{item.description}}</td>
            <td class="item-category">{{item.category}}</td>
            <td class="item-quantity">{{item.quantity}}</td>
            <td class="item-measure">{{item.measure}}</td>
            <td class="item-material">{{item.material}}</td>
          </tr>
        </tbody>
    </table>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary">Save</button>
      <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
